html,
body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
  font-size: 20px;
  line-height: 25px;
}


h1 {
  margin: 0px;
  padding: 0px;
  font-size: 50px;
  line-height: 50px;
  font-weight: 600;
}

a {
  color: #333;
}


.App {
  margin: 50px;

}

/* .content{
  height: 200px;
} */

.lang-block {
  position: absolute;
  right: 50px;
  color: #ddd;
}

.lang-item:hover {
  color: #333;
  text-decoration: underline;
  text-decoration-color: #888;
  text-decoration-thickness: 1px;
  cursor: pointer;
}

.ru {
  margin-right: 10px;
}

.lang-chosen {
  text-decoration: underline;
  text-decoration-thickness: 1px;

}

.menu {
  margin: 25px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;

}


.header h1:hover {
  /* text-decoration: underline;
  text-decoration-style:dashed;
  text-decoration-color: #888;
  text-decoration-thickness: 2px; */
  cursor: pointer;
}

.menu-item {
  margin-right: 25px;
  display: flex;
  cursor: pointer;
  white-space: nowrap;

}

.menu-item:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #333;
  text-decoration-thickness: 1px;
}

.menu-item:last-child {
  margin-left: 50px;
}

.menu-text {
  margin-left: 10px;
  font-size: 25px;
}

hr {
  width: 100%;
  border: 0.5px solid #eee;
  border-radius: 1px;
}

.post {
  margin-top: 50px;

}

.post-title {
  font-size: 30px;
  margin-bottom: 25px;
  line-height: 30px;
  display: flex;

}

.post-avvvatar {
  margin-right: 20px;
}

.post-text {
  margin: 0 0 5px 50px;
}

.post-text img {
  margin-top: 25px;

}

.window {
  border-top: 30px solid #935F10;
  border-bottom: 1px solid #888;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-radius: 6px;
}

.border {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-radius: 6px;
}

.post-tags {
  color: #888;
  font-size: 15px;
  font-style: italic;
  margin-left: 50px;
  display: flex;

}

.tag {
  margin-right: 12.5px;
}

/* prealoader start */
.loader-container {
  position: relative;
  /* width: 50px;
  height: 50px; */
  /* z-index: 1; */
  left: 45%;
 /* bottom:50%; */
}

.spinner {
  width: 30px;
  height: 30px;
  border: 8px solid;
  border-color: #D6DBF5 transparent #D6DBF5 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* prealoader end */



@media screen and (max-width : 800px) {

  .menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .menu-item {
    margin: 5px 0;
  }

  .menu-item:last-child {
    margin-left: 0px;
  }

  .menu-item:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #888;
    text-decoration-thickness: 2px;
  }

  img {
    width: 100%;
  }

}